 


.bar
	{ 


		 margin: 0;
		 padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-around;
		width: auto;
		background-color: #feb236;
		align-items: center;
		height:100px;
		font-size: 3vw;
		text-decoration: none;
		color:#CCF381;

     }

	.bar li a

	{

			text-decoration: none;
			color:#CCF381;



	}

    .bar li a:hover:not(#exer1)

    {
    	background-color: blue;
    	color:black;
    }


    #exer1{background-color:#CCCCFF;}





	

	#donot  
	{

		font-size: 4vw;
		margin: 20%;
		color:red;

	}


	body
	{
		background: #4831D4;}

	

    


	      