 


.bar
	{ 


		 margin: 0;
		 padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-around;
		width: auto;
		background-color: #feb236;
		align-items: center;
		height:100px;
		font-size: 3vw;
		text-decoration: none;
		color:#CCF381;

     }


	.bar li a

	{

			text-decoration: none;
			color:#CCF381;



	}


	 .bar li a:hover:not(#index)


    {
    	background-color: blue;
    	color:black;
    }


    body
	{
		background: #4831D4;}
  

  #index{background-color:#CCCCFF;}



  .fight
  {

    display: flex;
    flex-direction: row; 
   justify-content: center;
   margin-top:20%;
   margin-left:20%;
   

  }

  .fight,.argueText, button{font-size:50px; }


  